<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>😄 Great</key>
	<dict>
		<key>pleasure</key>
		<array>
			<string>Remind myself that I love yoga because of the solitude.</string>
			<string>Remember that I love spending time with my partner because we make each other laugh.</string>
		</array>
		<key>prioritize</key>
		<array>
			<string>Prioritize exercise by putting it in my calendar.</string>
			<string>Prioritize meditation in the morning by making it the very first thing I do when I wake up.</string>
		</array>
		<key>gratitude</key>
		<array>
			<string>Give thanks for my family. Acknowledge the gifts and blessings by saying a silent prayer during dinner</string>
			<string>Call Shelly and tell her that I appreciate talking to her about my career.</string>
		</array>
		<key>giving</key>
		<array>
			<string>Do one act of kindness while engaged in study group by bringing everyone donuts and coffee.</string>
			<string>Pay for the drink of the person in line behind me at the coffee shop.</string>
		</array>
		<key>values</key>
		<array>
			<string>Bring more laughter to family time by teaching my kids a few jokes. </string>
			<string>Get more creative at work by asking Laura if I can join the creative breakthrough meetings. </string>
		</array>
	</dict>
	<key>🙂 Good</key>
	<dict>
		<key>pleasure</key>
		<array>
			<string>Remind myself that I love yoga because of the solitude. </string>
			<string>Remember that I love spending time with Alex because she makes me laugh. </string>
		</array>
		<key>prioritize</key>
		<array>
			<string>Prioritize exercise by putting it in my calendar.</string>
			<string>Prioritize meditation in the morning by making it the very first thing I do when I wake up.</string>
		</array>
		<key>gratitude</key>
		<array>
			<string>Give thanks for the aspects of chores I’m grateful for. Acknowledge the gifts and blessings. </string>
			<string>Thank Clara for collaborating on the work project with me. I love teamwork, and I think we have been a great team. </string>
		</array>
		<key>values</key>
		<array>
			<string>Bring more personal growth to the “meh” feeling parts of driving by: listening to podcasts or audio books.</string>
			<string>When doing homework I can pair up with another student so that I can honor my values of teamwork, camaraderie and collaboration. </string>
		</array>
		<key>need</key>
		<array>
			<string>What I need to feel better about Work that’s in my control is: Eat lunch away from my desk. To meet this need, I will take this action step: Ask Mary to join me for lunch outside. </string>
			<string>I need to feel engaged, supported and harmonious in my relationship. I am going to look for new communication models so that we can keep our spirited debates friendly.</string>
		</array>
	</dict>
	<key>☹️ Lousy</key>
	<dict>
		<key>values</key>
		<array>
			<string>Bring personal growth to driving by listening to podcasts or audiobooks.</string>
			<string>Bring freedom to exercise by taking hikes vs going to the gym.</string>
		</array>
		<key>shift</key>
		<array>
			<string>Shift my thoughts about attending graduate school by focusing on the need(s) it fulfills: career, personal growth.   </string>
			<string>Shift my thinking about going to Mark’s social gathering and focus on the needs it fulfills: supporting my spouse.</string>
		</array>
		<key>need</key>
		<array>
			<string>What I need to feel better about time with friends that’s in my control is this: More adventure. To get this need met, I will take this action step: Ask some of my friends to join me in climbing Mt. Whitney. </string>
			<string>I need to feel like I’m impacting the world. I don’t see how I can achieve this at my job right now, so I’ll volunteer at a non-profit a few days a week after work.  </string>
		</array>
		<key>reduce</key>
		<array>
			<string>Reduce the amount of time I spend with my cousin by doing this: telling her that I have a tight schedule and will reach out when I have more time. </string>
			<string>Reduce stressful holiday time with family by booking a shorter trip and spending the rest of the holidays with friends.   </string>
		</array>
		<key>replace</key>
		<array>
			<string>Replace watching TV with this better-feeling activity: reading a book.</string>
			<string>Instead of watching all of the kid’s soccer practice, I am going to go next door to the coffee shop and answer emails for part of it.  </string>
		</array>
	</dict>
	<key>😕 Mixed</key>
	<dict>
		<key>values</key>
		<array>
			<string>Bring exercise to Work by: challenging myself to walk the stairs instead of taking the elevator.</string>
			<string>Bring fun to Chores by blasting music and singing while I clean. </string>
		</array>
		<key>shift</key>
		<array>
			<string>Shift my thoughts about Work by focusing on the needs it fulfills: financial stability, creativity, achievement. </string>
			<string>When I drive to work tomorrow, remind myself that even though my job is boring, it meets my need to make money.</string>
		</array>
		<key>need</key>
		<array>
			<string>What I need to feel better about Traveling that’s in my control is: More excitement.  
To get this need met, I will take this action step: I will try activities I’ve never tried before.</string>
			<string>My relationship with my significant other feels stagnant and I need more adventure. I will book a trip to go zip-lining together.</string>
		</array>
		<key>reduce</key>
		<array>
			<string>Reduce the amount of time I spend on Housework by doing this feel-good activity instead:  engaging my kids to help me while dancing to great music.</string>
			<string>Spend less time on Social Media at bed time by going to sleep one hour earlier and getting more sleep.</string>
		</array>
		<key>replace</key>
		<array>
			<string>Move towards replacing bartending job by taking an online class about entrepreneurship. </string>
			<string>Replace social media consumption with taking photographs.</string>
		</array>
	</dict>
</dict>
</plist>
